* {
    font-family: /*"palatino", "baskerville", "times new roman", Times, serif;
}

nav {
    background-color: black;
    text-align: center;
    width: auto;
}

nav li {
    display: inline-block;
}

#nav-button {
    text-decoration: none;
    border: none;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: 15px;
    color: white;
    background-color: black;
}

#nav-button:hover {
    color: blue;
}

header h1 {
    
}