nav li {
    display: inline-block;
    background-color: black;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    width: auto;
    text-decoration: none;
    text-align: center;

}

#nav-button:hover {
    color: yellow;
}

header h1 {
    
}