nav li {
    display: block;
    background-color: black;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    width: auto;
}

nav li:hover {
    color: yellow;
}

header h1 {
    
}